.title {
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-style: italic;
}

.scrapeBtn {
    /* background: black; */
    border: none;
}

.scrapeInfo {
    color: darkgreen;
}

.Note {
    padding: 20px;
}